*{
    margin:0;
    padding:0;
    border:0;
}

.container{
    position: absolute;
    width: 1366px;
    height: 768px;
    left: 0px;
    top: 0px;
    background: #DCE4E3;
}

.itensSideBarClose{
    position: absolute;
    width: 78px;
    height: 768px;
    left: 0px;
    top: 0px;
    background: #18C29C;

}

#menu{
    padding-top: 26px;
}

div.sideBarClose{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 17px;
    z-index: 1;
}

div#log-out{
    position: absolute;
    width: 44px;
    height: 30px;
    top: 708px;
    
    background: rgba(220, 228, 227, 0.6);
    transform: matrix(-1, 0, 0, 1, 0, 0);    
}


